
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/custom-report/*
!/custom-report/.gitkeep
!/custom-report/screenshots/
/custom-report/screenshots/*
!/custom-report/screenshots/.gitkeep
!/custom-report/videos/
/custom-report/videos/*
!/custom-report/videos/.gitkeep
!/custom-report/traces/
/custom-report/traces/*
!/custom-report/traces/.gitkeep
/tta-report/**
/allure-results/
/logs/

# Environment
.env

# User session
user-session.json

# Build
/dist/

# CommandCode
.commandcode/
